.testimunials .slick-dots li button:before {
  font-size: 15px;
}

.slick-slider button {
  display: none !important;
}

.slick-dots {
  display: block !important;
}

.testimunials .slick-dots li {
  top: 15px;
}

.testimunials {
  width: 100% !important;
}

.only-name p{
  font-family: 'Poppins';
font-style: normal;
font-weight: 700;
font-size: 18px;
line-height: 27px;
/* identical to box height */


/* TEXT CLR */

color: #5E6282;
}

.city-testimunials {
  font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 14px;
line-height: 21px;
/* identical to box height */


/* TEXT CLR */

color: #5E6282;
}