.home {
    margin-top: 1rem;
    font-family: 'Poppins';
    color: #6F2185;
}

.trabalha-ti {
    margin-bottom: 2rem;
}

.girl-travel {
    text-align: -webkit-right;
}

.trabalha-ti h1 {
    font-family: 'Poppins';
letter-spacing: -0.04em;
color: #6F2185;
}

.dogs {
    margin-top: 6rem;
    text-align: -webkit-center;
}

.dogs img {
    width: 70%;
}

.dogs-wrap {
background: #FFFFFF;
box-shadow: 0px 1.85185px 24px rgba(0, 0, 0, 0.33);
border-radius: 36px;
}

.title-pet {
    font-size: 27px;
    text-align: center;
    margin-bottom: 1rem;
}

.text-pet {
    text-align: justify;
}

.dogsButton {
    margin-top: 2.5rem;
    text-align: -webkit-center;
}

.kit-pet {
    margin-top: 3rem;
    text-align: center;
}

@media screen and (min-width:765px) {
    .kit-pet img {
        width:80%;
    }
}

.pet-casinha {
    text-align: -webkit-center;
}

.beneficios {
    text-align: center;
}


.beneficios small {
font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
color: #5E6282;
}

.title-benefiicios {
    align-items: center;
    display: inline-flex;
}

.cards-beneficios {
    gap: 2rem;
}

.cardIcon {
    text-align: -webkit-center;
}

.card-beneficios {
    margin-top: 3rem;
}

.title-card {
    margin-top: .9rem;
    margin-bottom: .8rem;
}

.card-active {
    background: #FFFFFF;
    box-shadow: 0px 0.85185px 24px rgb(0 0 0 / 12%);
border-radius: 36px;
}

.img-decore {
    position: absolute;
    margin: 13rem 1rem 1rem 18%;
    z-index: 0;
}

.img-place {
    z-index: 1;
    position: relative;
}

@media screen and (max-width: 764px) {
    .places-area{
        text-align: -webkit-center;
    }

    .place {
        width: 83.8%;
        margin-bottom: 2rem;
        border-radius: 20px 20px 20px 20px;
    }

    .img-decore {
        display: none;
    }

    .img-place img {
        border-radius: 20px 20px 0px 0px;
    }

    .video-text {
        font-family: 'Volkhov';
        font-style: normal;
        text-align: center;
        color: #6F2185;
        margin-bottom: -3rem;
    }
}

.best-places {
    margin-top: 7rem;
}

.logotipo-place {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-align: center;

color: #9B51E0;

}

.text-places h2 {
    font-family: 'Volkhov';
font-style: normal;
font-weight: 700;

text-align: center;

color: #6F2185;
margin-bottom: 3rem;
}

.place {
    box-shadow: 0px 1.85185px 24px rgba(0, 0, 0, 0.12);
}


@media screen and (min-width:765px) {
    .img-place img {
        max-width: 315px;
        height: 350px;
        border-radius: 20px 20px 0px 0px;
    }

    .place {
        height: 460px;
        border-radius: 20px;
    }
}

.name-link {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 1rem 0 1rem;
    margin-top: 1rem;
}

.name-place p {
    color: black;
    font-weight: 500;
}

.link-place {
    color: #9B51E0;
}

.location {
    display: flex;
    align-items: center;
    gap: 10px;
    padding-left: 1rem;
    margin-top: 1rem;
    color: black;
}

.video-facility {
    margin-top: 7rem;
}

.video-player {
    text-align: -webkit-center;
}

.video-text {
    font-family: 'Volkhov';
    font-style: normal;
    /* identical to box height */
    
    text-align: center;
    
    color: #6F2185;
}

.text-testemunhos-two {
    font-family: 'Poppins';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 30px;
/* or 188% */

text-align: justify;

color: #5E6282;

}
.textos-testimunials p {
margin-top: 2rem;
font-family: 'Poppins';
font-style: normal;
font-size: 16px;
line-height: 124.5%;
/* or 20px */


/* TEXT CLR */

color: #5E6282;
}

.only-name {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */


/* TEXT CLR */

color: #5E6282;
}

.testemunhos-area {
    margin-bottom: 10rem;
}

.small-testemunhos {
    font-family: 'Poppins';
font-style: normal;
font-weight: 600;
font-size: 18px;
line-height: 27px;
/* identical to box height */

text-transform: uppercase;

/* TEXT CLR */

color: #5E6282;

}

.title-testemunhos {
    font-family: 'Volkhov';
font-style: normal;
font-weight: 700;
font-size: 40px;
line-height: 64px;
text-transform: capitalize;

color: #6F2185;
}

.imagem-familia {
    text-align: -webkit-center;
    margin-left: 7rem;
}

.imagem-familia img {
    border-radius: 20px;
}

