@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;500;600;700;800&family=Poppins:wght@300;400;500;600;700;800&family=Volkhov:wght@400;700&display=swap');

*,
*::after,
*::before {
  box-sizing: border-box;
  margin: 0;
}

button,
input {
  font-family: 'Montserrat', sans-serif;
}

.container-relocation {
  max-width: 1200px;
  margin: 0rem auto;
}

@media screen and (max-width:764px) {
  .container-relocation {
    width: 100%;
    margin: 0rem auto;
    padding: 0 1.2rem;
  }
}




.testimunials {
  width: 100%;
  margin: 0px auto;
}

.w100 {
  display: flex;
  width: 100%;
  align-items: center;
}

.w50 {
  width: 50%;
}

.w25 {
  width: 25%;
}





